# Entorno virtual (Archivos binarios locales)
env/
venv/
.venv/

# Base de datos local (Contiene datos de prueba privados)
*.sqlite3

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración de editores y sistemas
.vscode/
.idea/
.DS_Store
Thumbs.db
